[Unit]
Description=webtplmst
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/http/webtplmst
ExecStart=./bin/backend
RestartSec=3
Restart=on-failure

[Install]
WantedBy=multi-user.target
